{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col-lg-4">
        <div class="alert alert-success fs-3 text-center" role="alert">
            Input Form
        </div>

        <!-- Input Form -->
        <form method="POST" action="{% url 'details' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Age:</label>
                <input type="number" class="form-control" id="age" name="age">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="remark" class="form-label">Remark:</label>
                <textarea name="remark" id="remark" class="form-control" name="remark"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
    <div class="col-lg-8">
        <div class="alert alert-info fs-3 text-center" role="alert">
            Details
        </div>

        <table class="table table-striped">
            <thead>
                {% if data %}
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Remark</th>
                    <th scope="col"></th>
                </tr>
                {% else %}
                <h1>No Data To Show</h1>

                {% endif %}
            </thead>
            <tbody>

                {% for i in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.remark}}</td>
                    <td class="d-flex">
                        <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{i.id}}">
                            Edit</div>
                        <form action="{% url 'delete' i.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger mx-1" value="Delete">
                        </form>

                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        <a href="{% url 'bin' %}">
            <div class="btn btn-success text-white fw-bold fs-3 w-25" data-bs-toggle="modal" data-bs-target="#binModal">
                <i class="fa-solid fa-recycle text-white"> </i>
            </div>
        </a>
    </div>
</div>

<!-- Modal -->
{% for i in data %}
<div class="modal fade" id="editModal{{i.id}}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong class="text-center fs-3">Edit Details</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit' i.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{i.name}}">
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age:</label>
                        <input type="number" class="form-control" name="age" id="age" value="{{i.age}}">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{i.email}}">
                    </div>

                    <div class="mb-3">
                        <label for="remark" class="form-label">Remark:</label>
                        <textarea name="remark" id="remark" class="form-control" name="remark">{{i.remark}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock content %}

{% block scripts %}
{% if messages %}
{% for message in messages %}
<script>
alertify.set('notifier','position', 'bottom-right');
alertify.success('{{message}}');
</script>

{% endfor %}
{% endif %}
{% endblock scripts %}