{% extends "base.html" %}

{% block content %}
<!-- Container for margin -->
<div class="row">

    <div class="col-lg-10 mx-auto">
        <div class="alert alert-danger fs-3 text-center" role="alert">
            Recycle Bin
        </div>

        <table class="table table-striped">
            <thead>
                {% if rd %}
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Remark</th>
                    <th scope="col"></th>
                </tr>
                {% else %}
                <h1>Nothing In The Recycle Bin</h1>

                {% endif %}


            </thead>
            <tbody>

                {% for i in rd %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.remark}}</td>
                    <td class="d-flex">
                        <div class="btn btn-success">
                            <a href="{% url 'restorebin' i.id %}" class="text-white text-decoration-none">Restore</a>
                        </div>
                        <form action="{% url 'deletebin' i.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger mx-1" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}



            </tbody>

        </table>
        <div class="d-flex justify-content-end mt-5">
            <div class="btn btn-success">
                <a href="{% url 'details' %}" class="text-white text-decoration-none">Go Back</a>
            </div>
            {% if rd %}
            <form action="{% url 'clearbin' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger mx-1" value="Clear All">
            </form>
            {% endif %}

        </div>
    </div>
</div>
<!-- Container ends -->
{% endblock content %}